@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #FFFFFF;
  --color-base-200: #F8F9FA;
  --color-base-300: #E2E8F0;
  --color-base-content: oklch(14% 0.004 49.25);
  --color-primary: #1F2A54;
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: #3D4E81;
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: #8AC6F3;
  --color-accent-content: oklch(14% 0.004 49.25);
  --color-neutral: #333333;
  --color-neutral-content: oklch(98% 0.003 247.858);
  --color-info: #4A90E2;
  --color-info-content: oklch(98% 0.002 247.839);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(14% 0.004 49.25);
  --color-warning: #FBC02D;
  --color-warning-content: oklch(14% 0.004 49.25);
  --color-error: #C62828;
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
